mat-tree {
  width: 20vw;
  min-height: 30vh;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: auto;
}

.applyButton {
  background-color: var(--textColor);
  margin-left:200px;
}

.header {
  /* background-color: var(--primary-bg-color, #f8f9fa); 
    border-bottom: 1px solid var(--divider-color, #ddd); */
  background-color: rgb(193, 192, 192);
}

.header h4 {
  font-weight: bold;
  color: var(--textColorblack);

}
.closeButton{
  /* background: var(--textColor); */
  top: 351px;
  left: 760px;
  gap: 0px;
  margin-left: 157px;
}
.closeButtonHover {
  color: var(--textColor);
}