<div class="menu-bar">
    <div style="display: flex; justify-content: space-between;">
        <button class="add-button" (click)="openDialog()" >
            <mat-icon class="icon">add_circle</mat-icon>
            {{'Menu.CALL RECORDING.DASHBOARD.Add Dashboard'| translate}}

        </button>

        <div style="display: flex;">
            <mat-select [(ngModel)]="selectedFilter"   [disabled]="!loading"
                placeholder="{{'Menu.CALL RECORDING.DASHBOARD.Today'| translate}}"
                style="margin-right: 5%;width:280px;" class="form-control" id="form-select"
                aria-label="Default select example" (selectionChange)="dropDownChange($event.value)">
                <div class="custom-options">


                    <mat-option value="1">
                        {{'Menu.CALL RECORDING.DASHBOARD.Today'| translate}}
                    </mat-option>
                    <mat-option value="2">
                        {{'Menu.CALL RECORDING.DASHBOARD.This Week'| translate}}
                    </mat-option>
                    <mat-option value="3">
                        {{'Menu.CALL RECORDING.DASHBOARD.This Month'| translate}}
                    </mat-option>
                    <mat-option value="4">
                        {{'Menu.CALL RECORDING.DASHBOARD.This Year'| translate}}
                    </mat-option>
                </div>
            </mat-select>

        </div>
    </div>
</div>
@if (loading) {
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">

          <!-- Loop through chartsData and display charts -->
          @for (chartData of chartsData; track $index) {
            @if (chartData.datasets[0].label !== 'Channel Status' && chartData.datasets[0].label !== 'Active Users' &&
            chartData.datasets[0].label !== 'Recent Users') {
              <div class="graph-container">
                <div class="graph-header">
                  <div style="display: flex;">
                    <span>{{ chartData.name.toUpperCase() }}</span>
                    <!-- Optional download icon -->
                    <!-- <mat-icon class="icon-container" style="cursor: pointer;">download_2</mat-icon> -->
                  </div>
                  <button class="close-button" (click)="removeChart($index, chartData)">✖</button>
                </div>
                <div class="graph-toolbar">
                  <div></div>
                  <!-- Chart toolbar -->
                  <div style="display: flex;">
                    <div class="chart-icons">
                      @if (chartData.chartType === 'bar') {
                        <mat-icon>bar_chart</mat-icon>
                      }
                      @else if (chartData.chartType === 'line') {
                        <mat-icon>show_chart</mat-icon>
                      }
                      @else if (chartData.chartType === 'pie') {
                        <mat-icon>pie_chart</mat-icon>
                      }
                    </div>
                    <select class="drop-down" [(ngModel)]="chartData.chartType"
                        (change)="updateChartType(chartData.chartType, $index)">
                      <option value="bar">Bar Chart</option>
                      <option value="line">Line Chart</option>
                      <option value="pie">Pie Chart</option>
                    </select>
                  </div>
                </div>
                <div class="graph-content">
                  <canvas [id]="'chart' + $index" style="height: 50%; width: 50%;"></canvas>
                </div>
              </div>
            }
          }
        
      
      </div>
      
}@else{

<div class="spinner-container">
    <div class="spinner"></div>
</div>

}

@if (chartsData.length <= 3) {
    <div style="margin: auto; text-align: center; padding: 20px; background-color: var(--h3);">
        <label style="font-size: 1.2rem; color: #ffffff;">Add a dashboard to view the graphical content</label>
      </div>
}
