<div class="mainStationmonitor">
    <div class="filters">
        <!-- <button class="btn" id="excelDivButton">
            <mat-icon style="margin-left: -12px;">download_2</mat-icon>
            XLS
        </button> -->
        <div class="filtersrigth">
            <button mat-flat-button class="extensionbutton" [matMenuTriggerFor]="menu">
                {{'Menu.CALL RECORDING.STATION MONITOR.Extension'| translate}}
            </button>
            <mat-menu #menu="matMenu">
                @for (item of extensionOptions; track $index) {
                @if (item && item.trim()) {
                <li style="padding-right: 10px;">
                    <mat-checkbox color="primary" [checked]="allGroupsChecked" #checkboxElem
                        (change)="allcheckboxSelectionextension(item,checkboxElem)"
                        (click)="$event.stopPropagation()">{{
                        item
                        }} </mat-checkbox>
                </li>
                }
                }

            </mat-menu>
            <button mat-flat-button class="custom-button" [matMenuTriggerFor]="menu1">
                {{'Menu.CALL RECORDING.STATION MONITOR.Agent'| translate}}
            </button>
            <mat-menu #menu1="matMenu">
                @for (agents of agentOptions; track $index) {
                @if (agents && agents.trim()) {
                <li style="padding-right: 10px;">
                    <mat-checkbox color="primary" [checked]="allGroupsCheckedagent" #checkboxElemagent
                        (change)="allcheckboxSelectionAgent(agents,checkboxElemagent)"
                        (click)="$event.stopPropagation()">
                        {{
                        agents }}
                    </mat-checkbox>
                </li>
                }
                }

            </mat-menu>
            <button mat-flat-button class="custom-button" [matMenuTriggerFor]="menu2">
                {{'Menu.CALL RECORDING.STATION MONITOR.Status'| translate}}
            </button>
            <mat-menu #menu2="matMenu">
                @for (status of statusOptions; track $index) {
                @if (status && status.trim()) {
                <li>

                    <mat-checkbox color="primary" [checked]="allGroupsCheckedstatus" #checkboxElemstatus
                        (change)="allcheckboxSelectionStatus(status,checkboxElemstatus)"
                        (click)="$event.stopPropagation()">
                        {{status }}
                    </mat-checkbox>

                </li>
                }
                }

            </mat-menu>
            <!-- <button mat-flat-button class="custom-button">Status: All</button> -->
            <!-- <div class="input-container">
                <input type="text" class="custom-input" [(ngModel)]="searchText" placeholder="Search"
                    (input)="onSearch()">
                <button class="search-button">
                    <span class="material-icons">search</span>
                </button>
            </div> -->
            <div class="input-group m-1 ">
                <input [(ngModel)]="searchText" type="text" class="form-control" (input)="onSearch()"
                    placeholder="Search">
                <button class="btn bg-dark btn-outline-secondary" type="button" id="button-addon2">
                    <span class="material-symbols-outlined text-light">
                        search
                    </span>
                </button>
            </div>
        </div>
        <div style="margin-right:5px">
            <div class="excelDiv btn" matTooltip="{{'Menu.REPORTS RECORDING.CALLS.Download records' | translate}}"
                [matMenuTriggerFor]="menu4">
                <mat-icon class="icon">download_2</mat-icon>
                <span class="text">{{'Menu.REPORTS RECORDING.CALLS.Report' | translate}}</span>
            </div>


            <mat-menu #menu4="matMenu">
                <button class="downloadBtn align-item" mat-menu-item (click)="exportToFile('Excel')">
                    <div style="justify-content: space-around;display: flex;">
                        <div>Excel</div>
                        <div>
                            <span class="material-symbols-outlined">article</span>
                        </div>
                    </div>
                </button>
                <button class="downloadBtn align-item" mat-menu-item (click)="exportToFile('PDF')">
                    <div style="justify-content: space-around;display: flex;">
                        <div>PDF</div>
                        <div>
                            <span class="material-symbols-outlined">picture_as_pdf</span>
                        </div>
                    </div>
                </button>
                <button hidden class="downloadBtn align-item" mat-menu-item (click)="exportToFile('TIFF')">
                    <span>TIFF</span>
                    <span class="material-symbols-outlined">perm_media</span>
                </button>
                <button hidden class="downloadBtn align-item" mat-menu-item (click)="exportToFile('Web Archive')">
                    <span>Web Archive</span>
                    <span class="material-symbols-outlined">install_desktop</span>
                </button>
            </mat-menu>
        </div>

    </div>



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" style="background-color: #ffffff;">
        <!-- Position Column -->
        <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Filter"> -->
        <ng-container matColumnDef="extensionlable">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px ;padding: 2px;">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Extension Label'| translate}}
                        </label>
                        <!-- <label
                            style="color: var(--h3);font-size:12px ;background-color:white;border-radius: 20px;cursor:pointer ;padding: 2px;">Extension
                            Number</label> -->
                    </div>
                    <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup"
                            (click)="sortDataExtensionName()">
                            switch_left
                        </span>
                    </div>
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <!-- <div class="label-column"> -->
                    <label style="color: black;font-size:15px ;padding: 2px;">{{element.ChannelID}}
                    </label>
                    <!-- <label
                            style="color: white;font-size:12px ;background-color:var(--h3);border-radius: 20px;cursor:pointer ;padding: 2px;width: 110%;">{{element.Extension}}</label> -->
                    <!-- </div> -->

                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="extensionnumber">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Extension Number'| translate}}
                        </label>
                    </div>
                    <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup"
                            (click)="sortDataExtensionNumber()">
                            switch_left
                        </span>
                    </div>
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">

                {{element.Extension?element.Extension:'No Data'}}
            </td>
        </ng-container>






        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="background-color: var(--h3)">
                <div class="header-cell-container">
                    <!-- <div class="label-column"> -->
                    <label style="color: white; font-size: 16px;padding: 2px;">
                        {{'Menu.CALL RECORDING.STATION MONITOR.Agent Name'| translate}}
                    </label>
                    <!-- <label
                            style="color: var(--h3);font-size:12px ;background-color:white;border-radius: 20px;cursor:pointer ;padding: 2px;">Agent
                            Number</label> -->
                    <!-- </div> -->
                    <div class="icon" (click)="sortDataAgent()">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left
                        </span>
                    </div>
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <div class="header-cell-container">

                    <!-- <div class="label-column"> -->
                    <!-- <label style="color: blue;font-size:12px ;padding: 2px;">{{element.Agent}}
                        </label> -->
                    <label style="color: var(--h3);font-size:14px;cursor:pointer ;padding: 2px;width: 110%;">{{'No
                        Data'}}</label>
                    <!-- </div> -->

                </div>

            </td>




        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="agentId">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Agent ID'| translate}}
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left

                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- <mat-checkbox></mat-checkbox> -->
                {{element.Agent?element.Agent:'No Data'}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="callerID">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Caller ID'| translate}}
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left

                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- <mat-checkbox></mat-checkbox> -->
                {{element.CallerID?element.CallerID:'No Data'}}
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dailed">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Dailed'| translate}}
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left
                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- <mat-checkbox></mat-checkbox> -->
                {{element.DialDigits?element.DialDigits:'No Data'}}
            </td>
        </ng-container>
        <ng-container matColumnDef="live">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            Live Call
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            arrow_downward_alt
                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- @if (element.uuid_2) { -->
                <div class="control-buttons">
                    @if (element.uuid_2) {

                    <!-- Toggle play and pause buttons based on `isPaused` -->
                    @if (element.ChannelStatus==2 && !element.play) {
                    <button class="btn" (click)="startAudioFork(element.uuid_2,element)">
                        <!-- <mat-icon class="material-symbols-outlined">play_arrow</mat-icon> -->
                        <!-- icon changed to SVG -->
                        <img src="assets/StationMonitor/play.svg" alt="">

                    </button>
                    }
                    @if(element.ChannelStatus==2 &&element.play){
                    <button class="btn" (click)="stopAudio(element.uuid_2,element)">
                        <!-- <mat-icon class="material-symbols-outlined">pause</mat-icon> -->
                        <img src="assets/StationMonitor/pause.svg" alt="">

                    </button>
                    }
                    }
                </div>

            </td>
        </ng-container>

        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Active'| translate}}
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left
                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- <mat-checkbox></mat-checkbox> -->
                <!-- <button mat-raised-button class="greyBlueButton" style="width:60px;">
                <mat-slide-toggle style="margin-left: 5px;margin-top: 4px;"></mat-slide-toggle>
                </button> -->
                <button mat-raised-button class="greyBlueButton"
                    style="width: 90px; display: flex; justify-content: center; align-items: center;">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <mat-slide-toggle class="custom-toggle" color="primary" [checked]="element.Active == 1"
                            (change)="onToggleChange($event,element)"> {{ element.Active==1
                            ?
                            'Active' : 'Inactive' }}</mat-slide-toggle>
                    </div>
                </button>

            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="background-color:var(--h3)">
                <div class="header-cell-container">
                    <!-- <mat-checkbox (change)="toggleAll($event)"></mat-checkbox> -->
                    <div class="label-column">
                        <label style="color: white;font-size:16px">
                            {{'Menu.CALL RECORDING.STATION MONITOR.Status'| translate}}
                        </label>

                    </div>
                    <!-- <div class="icon">
                        <span class="material-symbols-outlined" id="nameFilterUsergroup">
                            switch_left
                        </span>
                    </div> -->
                </div>
            </th>

            <td mat-cell *matCellDef="let element" [class.selected-row]="element.ChannelID === selectedRow"
                (click)="selectRow(element)">
                <!-- <mat-checkbox></mat-checkbox> -->
                <button mat-raised-button class="greyBlueButton" style="width:80px;">

                    @if (element.ChannelStatus==2) {
                    <div class="label-column">
                        <span class="material-symbols-outlined" style="color: green;font-size: 16px;">
                            phone_in_talk
                        </span>
                        <label style="font-size:9px;color: green;width: 116%;">
                            {{'Menu.CALL RECORDING.STATION MONITOR.ONCALL'| translate}}
                        </label>
                    </div>
                    }
                    @if (element.ChannelStatus==0) {
                    <!-- <div class="label-column">
                        <span class="material-symbols-outlined" style="color: gray;">
                            phone_enabled
                        </span>
                        <label style="font-size:10px ;color:gray;">
                            {{'Menu.CALL RECORDING.STATION MONITOR.IDLE'| translate}}
                        </label>
                    </div> -->
                    <div class="label-column">
                        <span class="material-symbols-outlined" style="color: gray; font-size: 16px;">
                            <!-- Adjust font-size as needed -->
                            phone_enabled
                        </span>
                        <label style="font-size: 9px;color: gray;"> <!-- Adjust font-size to your preference -->
                            {{ 'Menu.CALL RECORDING.STATION MONITOR.IDLE' | translate }}
                        </label>
                    </div>

                    }
                    @if (element.ChannelStatus==4) {
                    <div class="label-column">
                        <span class="material-symbols-outlined" style="color: lightgreen;font-size: 16px;">
                            phone_enabled
                        </span>
                        <label style="font-size:9px;color: lightgreen;">
                            {{'Menu.CALL RECORDING.STATION MONITOR.RINGING'| translate}}
                        </label>
                    </div>
                    }
                    @if (element.ChannelStatus==3) {
                    <div class="label-column">
                        <span class="material-symbols-outlined" style="color: red;font-size: 16px;">
                            phone_disabled
                        </span>
                        <label style="font-size:9px;color: red;">
                            {{'Menu.CALL RECORDING.STATION MONITOR.OFFLINE'| translate}}
                        </label>
                    </div>
                    }
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="clickedRows.add(row)" [class.demo-row-is-clicked]="clickedRows.has(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <mat-toolbar class="pagination-toolbar">
        <div class="page-info">
            {{'Menu.REPORTS RECORDING.AGENTS.Total Records'| translate}}
            :
            {{ TotalRecords }}
        </div>
        <span class="example-spacer"></span>
        <div class="page-info">
            {{'Menu.REPORTS RECORDING.AGENTS.Records Per Page'| translate}}
        </div>
        <mat-select class="form-control me-4" style="width:100px" [(ngModel)]="limit"
            (selectionChange)="onItemsPerPageChange($event)">

            <mat-option class="goto-check" [value]="10">10</mat-option>
            <mat-option class="goto-check" value="25">25</mat-option>
            <mat-option class="goto-check" value="50">50</mat-option>
            <mat-option class="goto-check" value="100">100</mat-option>
        </mat-select>

        <div class="page-info">
            Page
            <mat-select disableRipple class="form-control" style="width: 72px;" [(value)]="currentPage"
                (selectionChange)="goToPage($event)">
                @for (page of getPagesArray(); track page) {
                <mat-option class="goto-check-pagination" [value]="page">
                    {{ page }}
                </mat-option>
                }
            </mat-select>
            of {{ totalPages }}
        </div>


        <div [dir]="'ltr'">
            <button mat-mini-fab class="next-button me-2" (click)="previousPage()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button mat-mini-fab class="next-button me-2" (click)="nextPage()">
                <mat-icon>chevron_right</mat-icon>
            </button>

        </div>
    </mat-toolbar>
</div>