.menu {
  display: flex;
  /* background-color: #C9E1F5; */
  padding: 10px;
  margin-left: .5%;
}
.extension-report{
  width: 100%;
  padding: 0;
}


.container{
  width: 100%;
  max-width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.table-container {
  height: 79vh;
  overflow: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-sort-header-sorted {
  color: var(--textColor);
}

.mdc-data-table__header-row {
  color: var(--textColor);
  background-color: var(--h3) !important;
}
::ng-deep .mat-sort-header-arrow {
  color: white !important; 
  opacity: 1 !important; 
}


/*   
th.header-cell {
  background-color: var(--h3);
  border: 1px solid var(--h3);
  color: white;
 padding: auto;
} */



.tableHeader {
  align-items: center;
}
.tableData {
  padding-top: 15px;
}
/* .header-cell-container {
  align-items: center;;
} */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 115px;
}

.page-select-container {
  display: flex;
  align-items: center;
  /* background-color: var(--h3); */
  margin-top: 15px;
}

.attribute-label {
  background-color: white;
  color: var(--h3);
  border-radius: 15px;
  width: auto;
  padding: 0px 9px;
}

.value-label {
  background-color: var(--h3);
  color: white;
  border-radius: 15px;
  width: auto;
  padding: 0px 9px;
}

.rotated-icon {
  transform: rotate(180deg);
}

/* ::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) {
  cursor: pointer;
  width: 128px !important;
  margin-left: 6px;
} */

/* .mat-paginator {
  background-color: var(--h3);
  color: white;
} */

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  cursor: pointer;
  /* background-color: white !important; */
}

.gotoPage {
  /* height: 65px; */
  justify-content: center;
  text-align: left;
}

.th-checkbox{
  background-color: var(--h3);
  width: 10px;
}

::ng-deep .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  /* background: inherit; */
  padding: 1px;
}

.custom-add-button {
    margin-top: 2%;
    background: linear-gradient(180deg, var(--h3) 0%, var(--h3) 50%, var(--h3) 100%);
    color: white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.applyBtn {
  background: linear-gradient(180deg, #999999 0%, #CCCCCC 50%, #999999 100%);
  color: #666666 !important;
  border-radius: 20px;
  display: flex;
  padding-top: 3px;
  height: 29px;
  margin-left: 10px;
  margin-top: 2%;
}
.example-margin {
  margin-left: 8px;
}
.filter-button {
  cursor: pointer;
  background-color: var(--h3);
  color: white;
  border-radius: 15px;
  width: auto;
  display: flex;          
  align-items: center;   
  justify-content: center; 
  padding: 10px;          
  text-align: center;  
  margin-top: 7px; 
  margin-right: 5px;
}


.page-info {
  font-size: 14px;
  margin-right: 16px;
}
.cancel-icon {
  margin-left: auto;      
  cursor: pointer;       
}
/* .columnCell {
  padding: 15px;
  align-items: center;
} */

#fitergroup {
  transform: rotate(90deg);
  color: var(--textIconColor);
}
.header-content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.cell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lock-icon {
  margin-top: 0px;
}
.pageList {
  justify-content: space-between;
  width: auto;
  margin-top: 3px;
  /* margin-left: 19.5vw; */
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: var(--h3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#pageListCount {
  height: 4vh;
  background-color: var(--h3);
  color: white;
}
.listpageiconsleft {
  cursor: pointer;
  width: 2vw;
  height: 4vh;
  border: 1px solid grey;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 3px;
}
.listpageiconsright {
  cursor: pointer;
  width: 2vw;
  height: 4vh;
  border: 1px solid grey;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 3px;
}
.recordPage {
  width: 12vw;
  margin-top: 3px;
  margin-left: 3px;
  display: flex;
  align-items: center;
  height: 4vh;
  background-color: var(--h3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#recordPagecount {
  height: 4vh;
  background-color: var(--h3);
  color: white;
}
.recodepagelabel {
  padding-left: 10px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


  .spacer {
    flex: 1 1 auto;
  }

  
.spinner-border {
  position: absolute; 
  right: 3%;
  z-index: 10; 
}


.pagination-toolbar {
  background-color: var(--h3);
  height: 8vh;
  width: 100%;

}
.next-button {
  background-color: white;
  color: black;
}
.example-spacer {
  flex: 1 1 auto;
}
.page-info {
  font-size: 14px;
  margin-right: 16px;
  color: white;
}
.text-pagination {
  font-size: 13px;
}
.gotoPage {
  justify-content: center;
  text-align: left;
}



.filters {
  width: 100%;
  display: flex;
  align-items: center;
  height: 7vh;
  margin: 0;

}
.row{
  width: 100%;
  margin: 0;
}

th {
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 10;
}


/*  */






for labels use this style

.label-column-avgduration{
  color: var(--textColor) !important;
  font-size: 1rem;
  padding: 2px;
}

for pagination update this css

.page-info {
  margin-right: 16px;
  color: var(--textColor) !important;
}

.text-pagination {
  font-size: 1rem;
}
.excelDiv {
  display: flex;
  align-items: center;
  background-color: #5A9158;
  font-size: 15px;
  color: #fbf3f3;
  padding: 3px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  margin-top: 2px;
}


.xlclass{
  color:var(--textColor);
  font-size: 1rem;
  margin-left: -8px;
}
.employeeBtn-xls{
background-color: #5A9158;
}



.custom-button {


align-items: center;
background-color: var(--h3) !important;
color: var(--textColor) !important;
padding: 2px;
padding-top: 5px;
margin-top: 4px;
min-width: 10vw;
max-width: max-content;
}

.custom-apply-button {

display: flex;
align-items: center;
background: linear-gradient(180deg, #999999 0%, #CCCCCC 50%, #999999 100%);
color: #362f2f !important;
margin-top: 4px;

padding: 10px;
}
.custom-button-date {
display: flex;
align-items: center;
background-color: var(--h3) !important;
color: var(--textColor) !important;
/* width: 9vw; */
margin-top: 4px;
margin-right: 4px;
min-width: 10vw;
max-width: max-content;

}
button{
margin-right: 4px;
font-size: small;
}
.itemsDiv{
height: 65vh;
overflow-y: auto;
}
.itemsDiv::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}
.itemsDiv::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}
.itemsDiv::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(122, 119, 119, 0.3);
background-color: #898989;
}
.mainContainer {
height: 94vh;
padding-right: .2%;
}


::ng-deep .goto-check .mat-pseudo-checkbox {
display: none !important;
}
::ng-deep .goto-check-pagination .mat-pseudo-checkbox {
display: none !important;
}


button{
margin-right: 4px;
font-size: small;
}
.itemsDiv{
height: 65vh;
overflow-y: auto;
overflow-x: hidden;
}


.itemsDiv::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F5F5F5;
}
.itemsDiv::-webkit-scrollbar
{
width: 12px;
background-color: #F5F5F5;
}
.itemsDiv::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(122, 119, 119, 0.3);
background-color: #898989;
}